<div id="<%= team_member.id %>" class="team-index-item" data-member-id="<%= team_member.id %>">
  <a
      href="<%= '#/workspaces/' + workspaceId + '/user/' + team_member.id %>"
      style="<%= 'background-color:' + randomColor %>">
      <%= team_member.escape('fname')[0].toUpperCase() +
                  team_member.escape('lname')[0].toUpperCase() %></a>
</div>
<style media="screen">

</style>
