<div class="log-in-out-background">
  <%= image_tag 'workspace1-edited.jpg' %>
</div>

<div class="log-in-out m-content">
  <header class="heading">
    <strong>Sign Up</strong>
  </header>

  <ul>
    <% flash[:errors].try(:each) do |error| %>
      <div class="alert alert-danger" role="alert">
        <% if error == "Fname can't be blank" %>
          <li><%= "First Name can't be blank" %></li>
        <% elsif error == "Lname can't be blank" %>
          <li><%= "Last Name can't be blank" %></li>
        <% else %>
          <li><%= error %></li>
        <% end %>
      </div>
    <% end %>
  </ul>

  <form class="form-horizontal" action="/users" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <div class="form-group">
      <label for="first-name" class="col-sm-3 control-label">First Name</label>
      <div class="col-sm-9">
        <input type="text" name="user[fname]" class="form-control" id="first-name">
      </div>
    </div>

    <div class="form-group">
      <label for="last-name" class="col-sm-3 control-label">Last Name</label>
      <div class="col-sm-9">
        <input type="text" name="user[lname]" class="form-control" id="last-name">
      </div>
    </div>

    <div class="form-group">
      <label for="email-input" class="col-sm-3 control-label">Email</label>
      <div class="col-sm-9">
        <input type="text" name="user[email]" class="form-control" id="email-input">
      </div>
    </div>

    <div class="form-group">
      <label for="password" class="col-sm-3 control-label">Password</label>
      <div class="col-sm-9">
        <input type="password" name="user[password]" class="form-control" id="password">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <input type="submit" value="Sign Up" class="btn btn-default">
      </div>
    </div>

    <div>Already have an account? <a href="<%= new_session_url %>">Log In</a></div>
  </form>

</div>

<script src="//fast.eager.io/9WUuSN9j4r.js"></script>
