<!-- <div class="search-background"></div> -->

<div class="search-results-list">
  <% if (users.length > 0) { %>
    <div class="users">
      <strong>USERS</strong>
      <ul>
        <% users.forEach(function(user) { %>
          <li>
            <a href="#/<%= user.escape('link') %>"
               data-link="#/<%= user.escape('link') %>">
              <%= user.escape('fname') + " " + user.escape('lname') %>
            </a>
          </li>
        <% }) %>
      </ul>
    </div>
  <% } %>

  <% if (workspaces.length > 0) { %>
    <div class="workspaces">
      <strong>WORKSPACES</strong>
      <ul>
        <% workspaces.forEach(function(workspace) { %>
          <li>
            <a href="#/<%= workspace.escape('link') %>"
               data-link="#/<%= workspace.escape('link') %>">
              <%= workspace.escape('title') %>
            </a>
          </li>
        <% }) %>
      </ul>
    </div>
  <% } %>

  <% if (projects.length > 0) { %>
    <div class="projects">
      <strong>PROJECTS</strong>
      <ul>
        <% projects.forEach(function(project) { %>
          <li>
            <a href="#/<%= project.escape('link') %>"
               data-link="#/<%= project.escape('link') %>">
              <%= project.escape('title') %>
            </a>
          </li>
        <% }) %>
      </ul>
    </div>
  <% } %>

  <% if (tasks.length > 0) { %>
    <div class="tasks">
      <strong>TASKS</strong>
      <ul>
        <% tasks.forEach(function(task) { %>
          <li>
            <a href="#/<%= task.escape('link') %>"
               data-link="#/<%= task.escape('link') %>">
              <%= task.escape('title') %>
            </a>
          </li>
        <% }) %>
      </ul>
    </div>
  <% } %>

</div>

<script type="text/javascript">
  function visitSelectedPage() {

  }
</script>
