<td class="bs-checkbox"><input data-index="<%= task.id %>" name="btSelectItem" type="checkbox"></td>

<td>
  <div class="dropdown">
    <button style="<%= 'background-color:' + randomColor %>" id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= assignment %>
      <!-- <span class="caret"></span> -->
    </button>
    <ul class="dropdown-menu scrollbar-menu" aria-labelledby="dLabel">
      <% workspace.workTeam().each(function (member) { %>
        <li><a><%= member.escape('fname') + " " + member.escape('lname') %></a></li>
      <% }) %>
    </ul>
  </div>
</td>

<td></td>

<td>
  <%= task.escape('title') %>
</td>

<td>
  <span data-index="<%= task.id %>" class="glyphicon glyphicon-trash" aria-hidden="true"></span>
</td>
